body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0D2040;
    color: #fff;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ff8418d0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #333;
}

h1 {
    text-align: center;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.quiz-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color:#ff8418d0;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.leaderboard {
    color: #fff;
}

#leaderboardList {
    list-style-type: none;
    padding: 0;
}

#leaderboardList li {
    margin-bottom: 5px;
}

.quiz-content {
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.question-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    color: #333;
}

.options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.options-container button {
    padding: 8px 12px;
    font-size: 14px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    color: #333;
}

.options-container button:hover {
    background-color: #e0e0e0;
}

.options-container button.selected {
    background-color: #007bff;
    color: #fff;
}

.submit-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #218838;
}

.score-container {
    background-color: #ff8418d0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}
.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.nav-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #0056b3;
}

.nav-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}